<h1>Add a comment</h1>

<%= form_with model: @comments, url: user_post_comments_path do |f| %>
    <div>
        <%= f.label :Text %>
        <%= f.text_field :text %>
    </div>
    <br>

    <%= f.submit "Add comment" %>
<% end %>