<div>

    <img src=<%=user.photo%>>
    <p>  
        <a href="/users/<%=user.id%>">
            <%=user.name%>
        </a>
    </p>
    <p>
        Number of posts: <%=user.posts_counter%>
    </p>
</div>