<div>
    <p>
        <%="#{@post.title} by #{@user.name}"%>
    </p>

    <p>
        <%="Comments: #{@post.comments_counter}, Likes: #{@post.likes_counter}"%>
    </p>

    <p>
        <%= @post.text%>
    </p>
</div>

<div>
    <%@comments.each do |comment|%>
        <%@all_users.each do |each_user|%>
            <p><%= "#{each_user.name}: #{comment.text}" if each_user.id == comment.author_id%></p>
        <%end%>
    <%end%>
</div>